absl-py==0.11.0
astunparse==1.6.3
boto3==1.17.7
botocore==1.20.7
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1606601395031/work
chardet @ file:///D:/bld/chardet_1610093646853/work
click==7.1.2
cryptography @ file:///D:/bld/cryptography_1612993898605/work
ernie==0.0.33b0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
Flask==1.1.2
flatbuffers==1.12
gast==0.3.3
google-auth==1.26.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
Keras-Preprocessing==1.1.2
Markdown==3.3.3
MarkupSafe==1.1.1
nltk==3.2.5
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.2
protobuf==3.14.0
py-cpuinfo==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PySocks @ file:///D:/bld/pysocks_1610291742246/work
python-dateutil==2.8.1
pytz==2021.1
regex @ file:///D:/bld/regex_1610146973989/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib==1.3.0
rsa==4.7
s3transfer==0.3.4
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1588857588528/work
scikit-learn==0.24.1
scipy==1.6.0
sentencepiece==0.1.95
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.0.11
torch==1.7.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1612992512436/work
transformers==2.4.1
typing-extensions==3.7.4.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
Werkzeug==1.0.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
wincertstore==0.2
wrapt==1.12.1
